.nodataContainer {
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}

.nodataContainer h4 {
  font-weight: 600;
  color: rgb(51, 51, 51);
  font-size: 18px;
  text-align: center;
}

#nodataImg {
  width: 160px;
  filter: contrast(85%);
}
