.innerOrderContainer {
  padding-bottom: 80px;
  overflow: scroll;
}
.noOrderHolder {
  flex-direction: column;
}

.noOrderHolder img {
  width: 300px;
}
.inProgressLabel {
  color: rgb(61, 61, 61);
  background-color: rgb(179, 179, 179);
  padding: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}
.deliveredLabel {
  color: #37aa25;
  background-color: #daffbd;
  padding: 2px;
  border: 1px solid #37aa25;
  border-radius: 4px;
}
.shippedLabel {
  color: rgb(87, 104, 254);
  background-color: rgb(127, 214, 255);
  padding: 2px;
  border: 1px solid rgb(87, 104, 254);
  border-radius: 4px;
}
.inProgressLabel p,
.deliveredLabel p,
.shippedLabel p {
  font-size: 10px;
  font-weight: bold;
}
